
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("images/copenhagen1.JPG");
  min-height: 75%;
}

.bgimg-2 {
  background-image: url("images/lyon2.JPG");
  min-height: 75%;
}

.bgimg-3 {
  background-image: url("images/nyc2.JPG");
  min-height: 75%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: transparent;
  color: #f7f7f7;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.white-field, .dark-field {
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.white-field {
  color: #777;
  background-color: white;
}

.dark-field {
  position: relative;
  color: #ddd;
  background-color: #282E34;
}


/*
MOBILE AND TABLET SPECIFIC
*/
@media only screen and (max-device-width: 1366px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }

  .white-field, .dark-field {
    text-align: center;
    padding: 30px 30px;
    text-align: justify;
  }
}