/*
* Please contact scwolof before making changes to this file
*/

body, html {
  height: 100%;
  margin: 0;
}

html {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  background-color: #000000;
}

body {
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
}

.olfsn-header {
  background-color: #5c5b57;
  font-size: 40px;
  text-align: left;
  color: white;
  padding: 1px 0px 1px 20px;   
}

.olfsn-header-button {
  background-color: #5c5b57;
  border: none;
  color: white;
  padding: 1px 0px 1px 0px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
}

.content {
  padding: 20px;
}

.home-bgimg {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/cologne2.JPG");
  min-height: 100%;
}