/*
* Please contact scwolof before making changes to this file
*/

body, html {
  height: 100%;
  margin: 0;
  text-align: center;
}

html {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  background-color: #dfa48f;
}

body {
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
}

p {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.wedding-header {
  background-color: #dfa48f;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  text-align: center;
  color: white;
  padding: 15px 0px 15px 20px;
  border: none;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}


h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #485b27;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #485b27;
}

.white-field {
  text-align: center;
  padding: 50px 80px;
  /*text-align: justify;*/
  color: #777;
  background-color: white;
}

.content {
  padding: 20px;
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("images/hampton_court_house_1.jpg");
  min-height: 50%;
  max-height: 75%;
}

.bgimg-2 {
  background-image: url("images/hampton_court_house_4.jpg");
  min-height: 50%;
}

.bgimg-3 {
  background-image: url("images/conservatory.jpg");
  min-height: 50%;
}

@media screen and (max-width: 600px) {
  iframe {
      max-width: 100% !important;
      width: auto !important;
      height: auto !important;
  }
}


/*
MOBILE AND TABLET SPECIFIC
*/
@media only screen and (max-device-width: 1366px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }

  .white-field {
    text-align: center;
    padding: 30px 30px;
    text-align: justify;
  }

  iframe {
      max-width: 100% !important;
      width: auto !important;
      height: auto !important;
  }
}